{% extends 'base.html.twig' %}

{% block body %}
 <div class="col-sm-12">
<span class="small pull-right"><a href={{ path('newProduct') }}>New product</a></span>
<br />
        <div class="table-responsive">
          <table class="table {{ table_class|default('table-bordered table-condensed table-striped') }}">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbodys>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                    </tr>   
                {% endfor %}
            </tbody>
        </table>
        </div>
</div>
{% endblock %}




